scrap/_output
blueprint/_output
component/_output

scrap/blueprint_edited_results.csv
scrap/cache.csv

blueprint/scrap_cache.csv
blueprint/cache.csv
blueprint/results.csv

component/cache.csv

Gemfile.lock
