Gemfile.lock

component/cache.csv
blueprint/cache.csv
blueprint/results.csv
scrap/cache.csv

component/_output
blueprint/_output
scrap/_output

deck_sheets.pdf
blueprint_sheets.pdf
scrap_sheets.pdf
pilot_sheets.pdf
