Gemfile.lock

gut/cache.csv

gut/addon_cache.csv
gut/limb_cache.csv
gut/weapon_cache.csv

blueprint/cache.csv
blueprint/cards.csv
scrap/cache.csv
scrap/cards.csv
contestant/cache.csv

gut/_output
blueprint/_output
scrap/_output
contestant/_output

sheets
mastersheets
